.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.Register #header {
    justify-self: left;
    width: 50vw;
}

div.ethnicity {
    display: flex;
    flex-direction: row;
}

div.ethnicity #checkbox{
    margin-right: 20px;
}

.Register Form {
    width: 50vw;
}

.Register #login {
    justify-self: left;
    width: 50vw;
}