.Register {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100vw;
}

.Register #art {
}

.Register #form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Register #header {
    width: 50%;
    justify-self: left;
}

.Register #body {
    width: 50%;
}