.UserSettings {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.UserSettings #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.UserSettings #header {
    width: 50%;
    align-self: left;
    
}

.UserSettings #body {
    width: 50%;
}