.FormRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.FormRegister #header {
    justify-self: left;
    width: 50vw;
}

.FormRegister Form {
    width: 50vw;
}

.FormRegister #login {
    justify-self: left;
    width: 50vw;
}

.error {
    color: red;
}