.FormRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.FormRegister Form {
    width: 100%;
}

.FormRegister #login {
    width: 100%;
    justify-self: left;
}

.error {
    color: red;
}